.paginated-list {
  display: flex;
  flex-flow: column;
  gap: var(--size-lmd);

  > :is(h2) {
    font-size: var(--size-md);
    color: var(--color-white);
  }

  > .pagination {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-md);
  }
}
