.topbar-user {
  > button {
    display: flex;
    place-items: center;

    padding: 0;

    font-size: 0;

    > picture {
      > img {
        height: var(--size-xl);
        aspect-ratio: 1;

        object-fit: cover;
        object-position: center;
      }
    }

    > .text-wrapper {
      max-width: calc(var(--size-md) * 10);
      padding: var(--size-smd) 0;
      overflow: hidden;

      text-overflow: '-- [...]';
      white-space: nowrap;
    }

    @media (max-width: calc(320px)) {
      > :is(span) {
        display: none;
      }
    }
  }
}
