.topbar-user {
  height: var(--size-xl);

  > button {
    display: flex;
    place-items: center;

    height: 100%;
    padding: 0 var(--size-sm);

    font-size: 0;

    > picture {
      > img {
        height: var(--size-lg);
        aspect-ratio: 1;

        object-fit: cover;
        object-position: center;
        border-radius: 100%;
      }
    }
  }
}
