.topbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  place-content: center;

  background-color: var(--color-main);

  .topbar-body {
    display: flex;
    place-items: center;
    place-content: space-between;

    width: var(--body-wrapper-size);
    padding-left: var(--size-lmd);
    max-width: 100%;

    .topbar-left {
      display: flex;
      place-items: center;
      gap: var(--size-lmd);

      color: var(--color-white);
    }

    .topbar-right {
      display: flex;
      place-items: center;
    }
  }
}
