#profile-page {
  display: flex;
  place-content: center;

  min-height: calc(100vh - var(--size-xl));
  padding: var(--size-lg) 0;

  background-color: var(--color-main-dark);

  .profile-content {
    display: flex;
    gap: var(--size-lg);

    width: var(--body-wrapper-size);
    padding: 0 var(--size-md);

    > main {
      flex: 1;
    }

    .profile-lists {
      display: flex;
      flex-flow: column;
      gap: var(--size-lg);
    }
  }
}
