.feed {
  flex: 1;

  .feed-list {
    display: flex;
    flex-flow: column;
    gap: var(--size-lg);

    .feed-item {
      display: flex;
      flex-flow: column;
      gap: var(--size-md);

      > header {
        display: flex;
        place-items: center;
        gap: var(--size-smd);

        > section {
          display: flex;
          flex-flow: column;
          gap: var(--size-sm);

          > :is(span) {
            color: var(--color-white);

            &:last-child {
              font-size: var(--size-smd);
            }

            > a {
              color: var(--color-main-light);
            }
          }
        }

        > a {
          transition: opacity 0.3s;

          &:hover {
            opacity: 0.5;
          }

          > :is(picture) {
            > :is(img) {
              width: var(--size-xl);
              height: var(--size-xl);
            }
          }
        }
      }

      > main {
        display: flex;
        place-items: center;
        place-content: center;

        position: relative;

        aspect-ratio: 1/1;
        overflow: hidden;

        border-radius: var(--size-smd);

        > :first-child {
          width: 100%;
          height: 100%;

          > :is(img) {
            width: 100%;
            height: 100%;

            filter: blur(5px);
          }
        }

        > :last-child {
          position: absolute;

          max-width: calc(var(--size-xl) * 4);
        }
      }

      footer {
        display: flex;
        gap: var(--size-md);

        > button {
          display: flex;
          gap: var(--size-sm);
        }
      }
    }
  }
}
