.sidebar-user {
  display: flex;
  flex-flow: column;
  gap: var(--size-smd);

  width: calc(var(--size-xl) * 4);

  > .sidebar-user-info {
    display: flex;
    flex-flow: column;
    gap: var(--size-md);

    > .sidebar-user-name {
      display: flex;
      flex-flow: column;
      place-items: center;
      gap: var(--size-sm);

      color: var(--color-white);

      > :nth-child(2) {
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;

        text-overflow: '-- [...]';
        font-size: var(--size-smd);
      }
    }

    > .profile-actions {
      display: flex;

      > button {
        padding: var(--size-smd);

        &:first-of-type {
          flex: 1;
        }

        &:last-of-type {
          aspect-ration: 1/1;
        }
      }

      > a {
        padding: var(--size-smd);
      }
    }

    .profile-pages {
      > ul {
        display: flex;
        flex-flow: column;
        gap: var(--size-sm);

        > li {
          > a {
            display: inline-flex;
            place-items: center;
            gap: var(--size-sm);

            color: var(--color-white);

            > svg {
              width: var(--size-lmd);
              height: var(--size-lmd);
            }

            &.active {
              color: var(--color-main-light);
            }
          }
        }
      }
    }
  }
}
