.topbar-menu {
  > ul {
    display: flex;
    place-items: center;

    > li {
      display: flex;
      place-items: center;

      position: relative;

      > a {
        width: var(--size-xl);
        height: var(--size-xl);

        color: var(--color-white);

        > svg {
          width: var(--size-lmd);
          height: var(--size-lmd);
        }
      }
    }
  }
}
